
<%- include('header'); -%>

<h2>This is the about Page</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo, unde non necessitatibus commodi quidem provident nisi error? Est dolorem quia commodi. Vel tempore, placeat dolorum sunt neque, laudantium officiis veritatis est autem voluptas quae ipsa ab consequuntur quia. Enim quisquam, suscipit reiciendis repellendus placeat blanditiis aperiam totam itaque facere fuga.</p>


<%- include('footer'); -%>